.App{
    width: 100vw;
    height: 120vh;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 0px;
    background-image: linear-gradient(rgb(50, 5, 134),rgb(82, 29, 180),rgb(95, 95, 199));
}


